*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules
crwctl-v*.tgz
coverage
.vscode
bin/crwctl-*
tsconfig.tsbuildinfo
.idea
# k8s templates are added at post-install step
templates/codeready-workspaces-operator
